.mycontent {
  padding: 2rem;
}

.box-inner {
  width: 100%;
  margin-left:auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

#box-wrapper .form-control:focus {
  border-color:#728eb3;
  box-shadow: none;
}

#box-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

body {
  background: #ffffff !important;
}

ul.nav.flex-column {
  padding: 25px;
}



.mytable {
  margin-bottom: 25px;
  margin-top: 25px;
}

button {
  margin-right: 8px;
}
.table-responsive {
  overflow-x: auto;
}
.form-inline {
  display: flex;
  align-items: center;
}
.form-inline .form-group {
  margin-right: 10px;
}
.flex-grow {
  flex-grow: 1;
}

input[type="search"] {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  padding: 8px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

input[type="search"]:focus {
  border-color: #0077cc;
  box-shadow: 0 0 8px #0077cc;
  outline: none;
}